{% extends 'base.html' %}

{% block title %} Products {% endblock %}

{% block content %}
<h1>Product List</h1>
<ul>
    {% for product in products %}
    <li>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Цена: {{ product.amount|floatformat:2 }} {{ product.currency }}</p>
        <form action="{% url 'checkout' product.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Оплатить</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}